@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,300;0,500;1,300;1,400 & display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {

    background-image: linear-gradient(45deg, #9ec1c6, #76d5c2, #3f0bcfb6);
    background-size: 300% 300%;
    animation: degrade__animado 5s ease infinite alternate;
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    width: 100%;

}
main{
    width: 80%;
}

.container {
    /* width: 80%; */
    box-shadow: 10px 10px 5px 0px rgba(209, 197, 197, 0, 75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(209, 197, 197, 0, 75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(209, 197, 197, 0, 75);
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

.menu__nav {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

}

.logo {
    width: 70px;
    margin: 30px;


}

.logo:hover {

    animation-name: botao__animado;
    animation-duration:0.7s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

nav {
    width: 100%;
    text-align: right;

}


li {

    display: inline-block;
    list-style: none;
    margin-right: 30px;

    font-weight: 600;

}

.link__nav {
    list-style: none;
    text-align: none;
    cursor: pointer;
    color: #000;
    font-size: 15px;
}

.link__nav:hover {
    color: #bd3e4d;
}

.container__central {
    display: flex;
 flex-direction: column-reverse;
    align-items: center;
    margin: 40px 0;


}

.container__esquerdo {
    margin-left: 50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 33px;
    color: #707070;
    margin: 20px 0;
    font-weight: 100;
}

.container__esquerdo p {
    color: #d1cccc;
    font-size: 25px;
    margin: 20px 0;

}
.container__esquerdo::before{
content: "";
width: 10px;
height:200%;
position: absolute;
left: -100px;
top:-500px;
background: rgb(158, 193, 198);
background: linear-gradient(25deg, rgba(158, 193, 198, 1) 6%, rgba(0, 44, 255, 0.6717874649859944) 81%);
}
h4 {
    color: #000;
    font-weight: bold;
    /* margin: 20px 0; */
    font-size: 30px;

}

.buy {
    font-size: 25px;
    width: 80%;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 25px;
    border-radius: 10px;
    background: rgb(158, 193, 198);
    background: linear-gradient(25deg, rgba(158, 193, 198, 1) 6%, rgba(0, 44, 255, 0.6717874649859944) 81%);
    margin-top: 20px;
    z-index: 2;
    text-align: center;

}

.buy:hover {
    animation-name: botao__animado;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.container__direito {
    display: flex;
  flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;

}
.container__direito h1{
    font-size: 60px;
    color: #000;
    /* margin: 20px 0; */
    font-weight: 100;
    text-shadow: #9ec1c6;
    /* text-transform: uppercase; */
}


span{
    color: red;
    font-weight: bold;
}
.controle {
  width: 68%;
 height: 65vh;
 padding: 15px;

}
.container__direito img{
    animation-name: movefone ;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;

}






.botao__mais img {
    width: 45px;
    height: 45px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

}

.social img {
    width: 50px;
    height: 50px;

    padding: 10px;
    border-radius: 50%;
    background-size: 300% 300%;
  
}

.social img:hover{
    animation-name: botao__animado;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}



@keyframes degrade__animado {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

@keyframes botao__animado {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
        /* animation:step-end ; */
    }
}

.menu-list{
    width: 25px;
    margin-right: 20px;
    display: none   ;
}

@media (max-width:690px){
    main{    height: 100vh;
        width: 100%;
    }
    .container{
        /* height: 100vh;
    width: 100%; */
    border-radius: 0;
    overflow: auto;
}
.container__esquerdo::before{
display: none;
}
  #menu-list{
    position: relative;
    top: 60px;
    left: 60px;
    overflow: hidden;
    transition: all 0.8s  ease-in-out;


   }
   .menu-list{
    display: block;
    cursor: pointer;
   }
.nav-li{
    display: block;
    margin-top: 5px;
}
.container__direito h1{
  font-size:45px;
}
.container__esquerdo::before{
    left: -40px;
    top:-600px;
}
}
@media (max-width:450px){
.container__esquerdo{
align-items: center;
margin-left: 20px;

}
.container__direito h1{
    font-size: 35px;
    margin-top: 10px;
}
}
@keyframes movefone{
from{
    transform: translate(0) rotate(-8deg );
}
}
